body
{
}
.class1 ul li {

    margin-right: 10%;
    margin-top: 10%;
    display: inline-block;
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.class1 h1{
    margin-bottom:50px;
    font-size:36px;
}
.class1{
    border-radius:25px; 
    padding-top:50px;
    padding-right:100px;
    padding-left:100px;
    width:70%;
    height:400px;
    margin-top:50px;
    background-color: grey;

}
.class1 button {
    border-radius: 25px;
    background-color: white;
    width:90px;
    margin-top:40px;

}
.form{
    background:black;
    border-radius:25px;
    width:300px;
    padding:20px;
}
.red ::placeholder {
    color: red;
    opacity: 9;
}
.green ::placeholder {
    color: green;
}
.blue ::placeholder {
    color: blue;
}

